<div class="container bg-primary">
  <div class="box-container">
    <h1>Hola, soy Javier. Encantado.</h1>
    <p>
      Desde que entre en el mundo de la programación web, año 2015, he buscado llegar al puesto de <strong><em>javascript full stack developer </em></strong>. En el trayecto he caído en otros proyectos y departamentos, lo que me ha brindado la ocasicón de aprender otras tecnologías y conocimientos.
    </p>
      <p>
      En 2019 llego mi esperada oportunidad, y desde entonces no he parado de aprender y desarrollar aplicaciones para la gestión interna o para nuestros clientes de mi actual empresa.
    </p>
      <p>
      Siempre intento dar lo mejor de mí, aprender de los demás, ayudar a mis compañeros y seguir creciendo personal y laboralmente.
    </p>
  </div>

</div>
