.container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  min-height: 400px;
  text-align: center;
}

.box-container{
  display: flex;
  flex-direction: column;
  max-width: 860px;
}


.img-brand {
  width: 90px;
  height: 90px;
}

.contact{
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0,-50%);
  color: white;
  gap: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


.social-networks{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 760px) {
  .contact{
    flex-direction: column;
  }
}
