<div class="container bg-primary">
  <div class="box-container">
    <section class="contact bg-tertiary">
      <h3>Comenzar un projecto</h3>
      <p>¿Estás interesado en que trabajemos juntos?</p>
      <div>
        <p>Contact conmigo</p>
        <p>javierescolar.developer@outlook.es</p>
      </div>
    </section>

    <section class="phrase">
      <img src="assets/img/logo-white.svg" alt="logo-white" class="img-brand">
      <h3>"Aprendiendo y subiendo de nivel día a día."</h3>
    </section>
    <section class="social-networks">
      <span>Linkedin</span>
      <span>Twitter</span>
    </section>
    <p>Creado y diseñado por mí</p>
  </div>
</div>
