.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


.img-brand {
  width: 80px;
  height: 80px;
}

.social-networks{
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase {
  h3 {margin: 10px auto;}
}

