<div class="container">
  <div class="box-container">

    <div class="card">
        <img src="assets/img/front.png" alt="brand" class="img-brand bg-secondary">
        <h3>Frontend</h3>
        <p>
          Capaz de dar soporte y lógica de negocio, así como diseñar e implementar la base de datos necesaria para una solución, si es necesario.
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro nulla eaque numquam. Odit voluptatibus sequi voluptatum rem amet. Libero corporis ipsam aut iusto ipsum animi minima modi quibusdam exercitationem.
        </p>
    </div>

    <div class="card">

        <img src="assets/img/server.png" alt="brand" class="img-brand bg-secondary">
        <h3>Backend</h3>

      <p>
        Capaz de dar soporte y lógica de negocio, así como diseñar e implementar la base de datos para una solución, si es necesario.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque porro nulla eaque numquam. Odit voluptatibus sequi voluptatum rem amet. Libero corporis ipsam aut iusto ipsum animi minima modi quibusdam exercitationem.
      </p>

    </div>


  </div>
  <div class="imgs-skills">
    <img src="assets/img/skills/html.png" alt="html" class="img-skill">
    <img src="assets/img/skills/css.png" alt="html" class="img-skill">
    <img src="assets/img/skills/js.png" alt="html" class="img-skill">
    <img src="assets/img/skills/ts.png" alt="html" class="img-skill">
    <img src="assets/img/skills/angular.png" alt="html" class="img-skill">
    <img src="assets/img/skills/sass.png" alt="html" class="img-skill">
    <img src="assets/img/skills/node.png" alt="html" class="img-skill">
    <img src="assets/img/skills/express.png" alt="html" class="img-skill">
    <img src="assets/img/skills/mongo.png" alt="html" class="img-skill">
    <img src="assets/img/skills/mssql.png" alt="html" class="img-skill">
    <img src="assets/img/skills/git.png" alt="html" class="img-skill">
    <img src="assets/img/skills/docker.png" alt="html" class="img-skill">

  </div>
</div>
